[2014-07-16 08:59] wolfeatyou opened #1 "Document splitter does not work correctly for second document"
SectionSplitter does not override DocumentVisitor methods,
besause of conversion error (from .Net library) in file SectionSplitter.java
To fix this bug, you need to rename VisitXXX methods to java notation visitXXX.

[2016-01-06 14:06] laodaobazi opened #24 "can I use Aspose in Linux"
what can I do use Aspose in CentOS ?

[2016-01-06 14:59] saqib-razzaq-aspose commented on #24
Yes, you can use Aspose in Linux. Please view this page (http://www.aspose.com/docs/display/wordsjava/System+Requirements) for system requirements for Aspose.Words for Java.

After setting up JDK and an IDE (which supports Maven), you can directly open this project (https://github.com/asposewords/Aspose_Words_Java/tree/master/Examples).

To use in your own application, please add reference to Aspo

[2016-01-08 06:10] laodaobazi commented on #24
Thank you very much @saqib-razzaq-aspose

[2016-01-08 06:10] #24 closed, assigned to nobody

[2016-01-19 07:15] saqib-razzaq-aspose commented on #1
SectionSplitter class is fixed and updated.

[2016-01-19 07:15] #1 closed, assigned to naeem244

[2016-04-06 17:53] justintanner opened #30 "Non-configurable setting in Aspose_Words_Java_for_Ruby"
I'm trying to use `asposewordsjavaforruby` with the Aspose Words for Java.

In the file:

`Aspose.Words-for-Java/Plugins/Aspose_Words_Java_for_Ruby/lib/asposewordsjavaforruby.rb`

I see the following line:

`license = Rjb::import('com.aspose.api.License').new()`

Doesn't integrate with correctly load the license file, I had to change it to:

`license = Rjb::import('com.aspose.words.License').new()

[2016-04-06 18:02] justintanner opened #31 "Apose Words Java for Ruby does not load setting file"
`Aspose_Words_Java_for_Ruby` does not load settings from `config/aspose.yml`.

Setting such as `jar_dir` and `license_path` are not being applied.

[2016-04-06 18:13] justintanner opened #32 "Confusing setting in Aspose_Words_Java_for_Ruby"
The following setting `license_path` is misleading because `license_path` is not a path but a file.

[2016-04-07 06:15] fahadadeel commented on #32
Thanks Justin Tanner for raising this.
Yes it is path to the license file. We will surely address this issue in the next release.
Thanks

[2016-04-07 06:15] #32 closed, assigned to nobody

[2016-04-07 09:27] fahadadeel commented on #30
Thanks Justin Tanner for pointing out the issue.  Yes you are correct it should be
license = Rjb::import('com.aspose.words.License').new()
We will fix this bug and update our repo as well.

Thanks

[2016-04-08 07:54] fahadadeel commented on #31
Hello Justin Tanner,
Sorry for the inconvenience you are facing, we are looking this issue and will update you soon.

Thanks

[2016-04-08 12:15] fahadadeel commented on #31
Hello Justin Tanner,
config/aspose.yml is only for the rails applications. If you see method load_aspose_jars, if it doesn't get jar_dir from the config folders, it loads it from the default path, which in this case is the jars folder.

jardir = File.join(File.dirname(File.dirname(**FILE**)), 'jars', '*_', '_.jar')

Thanks

[2016-04-12 21:15] justintanner commented on #31
I see. It would be nice be able to choose which folder the jar file is located ( same with the license file ).

[2016-04-13 12:24] fahadadeel commented on #30
This issue has been fixed and updated on our repo.

[2016-04-13 12:24] #30 closed, assigned to nobody

[2016-04-15 06:08] fahadadeel commented on #31
Hello Justin Tanner,

Thanks for the suggestion.
Aspose provides the provision to our users to change the source code according to requirements.
You can easily configure the location of your jar file by simply replacing the nil with your jar folder in below lines:

aspose_jars_dir = Asposewordsjavaforruby.aspose_words_config ? Asposewordsjavaforruby.aspose_words_config[‘jar_dir’] : nil
aspose_lice

[2016-04-19 08:58] xdenser opened #34 "DocumentPreviewAndPrint not finished ?"
Does not work for me.

[2016-04-20 12:14] aspose-words commented on #34
@xdenser Thank you for raising the issue and we apologize for this.

We are looking into this issue and will get back to you with some updates soon.

Please stay tuned.

[2016-04-21 08:11] naeem244 commented on #34
@xdenser ,

There is issue in PrintPreviewDialog class which has been raised via concerned forum. We will update here once the issue is resolved. Please follow this thread for further updates:
http://www.aspose.com/community/forums/715492/printpreviewdialog-class-is-throwing-error-contentpane-cannot-be-set-to-null-documentpreviewandprint/showthread.aspx#715492"

[2016-04-27 13:22] #31 closed, assigned to nobody

[2016-06-27 10:32] kp144 commented on #34
Getting The stack is full. the file having A table and multiple row/cell into table which may contains Shapes,Text and images.

Caused by: java.lang.RuntimeException: java.lang.RuntimeException: java.lang.IllegalStateException: The stack is full.
    at com.aspose.words.zzZ5O.zzZ(Unknown Source)
    at com.aspose.words.zzZQP.zzX(Unknown Source)
    ... 622 more
Caused by: java.lang.RuntimeExceptio

[2016-06-27 20:33] saqibmasood commented on #34
@kp144 Thanks for writing back and we apologise for inconvenience. We are working on the issue. Please share the input file that you are using for this example. It will help us to investigate it quickly.

[2016-06-28 13:22] kp144 commented on #34
i want to crop each row/cell to an image as it's shown in Ms-Word Table.!

On Tue, Jun 28, 2016 at 2:03 AM, Saqib Masood notifications@github.com
wrote:

##

_Thanks & Regards_
_Kuldeep Choudhary_

[2016-06-28 19:20] saqibmasood commented on #34
@kp144 I shall try this use-case at my end and let you know. If you have tried it, I appreciate if you can share the code.

[2016-06-29 06:07] kp144 commented on #34
In this method RenderRowToImage(String dataDir, Document doc)

Row row = (Row) doc.getChild(NodeType.ROW, _0_, true);

this line is used some parameter as per my knowledge the _0_ is used to
crop 0th index row or cell of table,when i change 0 into 2 then it works
but when i use 1 instead of 0 then its throws an exception stack is full
and many more...

here my requirement is that i will count the

[2016-06-29 06:19] saqibmasood commented on #34
@kp144 Thanks for sharing more info. I shall get back to you soon.

[2016-06-29 06:43] kp144 commented on #34
Here is My StackTrace

On Wed, Jun 29, 2016 at 11:49 AM, Saqib Masood notifications@github.com
wrote:

##

_Thanks & Regards_
_Kuldeep Choudhary_

[2016-06-29 07:18] kp144 commented on #34
i also want to getPosition(X,Y) of each shapes so i can draw the shape on image by using that position.

[2016-07-04 18:42] kp144 opened #35 "Getting only 198 Rows and 198 Cells in MS Word Table by using aspose word library in JAVA"
`int totalRow = doc.getChildNodes(NodeType.ROW, true).getCount();`
`System.out.println("Total Row : " + totalRow);`

Getting 198 Rows but i  have more then 198 rows in MS Word Table

**OR**

`int totalCellMethod = doc.getChildNodes(NodeType.CELL, true).getCount();`
`System.out.println("Total CELL : " + totalCellMethod);`

Getting 198 Cells but i  have more CELL in MS Word Table

[2016-07-05 10:01] kp144 commented on #35
@saqibmasood Sir may you looking into this...

[2016-07-10 11:53] sohail-aspose commented on #35
@kp144
Thanks for your patience. There is a limitation on table size in trial version of Aspose.Words for Java, you can only read 40 rows and 198 cells of a table at max. In order to read tables of larger size, you need to have a valid license.

You can either get a temporary license at http://www.aspose.com/corporate/purchase/temporary-license.aspx if you are still evaluating Aspose.Words or purc

[2016-07-11 06:56] kp144 commented on #35
Okay.. is there any updated JAR which is used to get more then 198 CELLS without any Licence

[2016-07-11 06:56] #35 closed, assigned to nobody

[2016-07-12 07:33] sohail-aspose commented on #35
Unfortunately not, you need to buy a license if you want to read tables of larger size (more than 40 rows and 198 cells).

[2016-11-08 12:24] sebastianfrohn opened #36 "Examples cannot be executed"
I checked out the repository and imported the project as described in http://www.aspose.com/docs/display/wordsjava/How+to+Run+the+Examples to Intellij.

When I try to start any of these examples, I get an error in BuildTableFromDataTable.java in line 33:

[code]
This seems to be a not defined static function with a variable wich is not defined anywhere, too. A full-text-search in the whole project

[2016-11-17 17:02] Golenko opened #37 "Cannot find FindReplaceOptions class"
Hello guys,
I'm trying to execute [this example](https://github.com/aspose-words/Aspose.Words-for-Java/blob/master/Examples/src/main/java/com/aspose/words/examples/programming_documents/find_replace/ReplaceWithString.java)

The problem is that classes _FindReplaceOptions_ and _FindReplaceDirection_ are absent from _com.aspose.words_ package.

The version of the jar I use is _aspose-words-16.6.0-jd

[2016-11-18 04:17] sohail-aspose commented on #37
Hi Golenko,
Please use the latest version of [Aspose.Words for Java 16.11.0](http://www.aspose.com/downloads/words/java).

I have tested [ReplaceWithString](https://github.com/aspose-words/Aspose.Words-for-Java/blob/master/Examples/src/main/java/com/aspose/words/examples/programming_documents/find_replace/ReplaceWithString.java) example and it is running perfectly fine. I used [this file](https://

[2016-11-18 05:05] sohail-aspose commented on #36
Hi Sebastian Frohn,

Thank you for bringing this to our attention.

It was a bug and has been fixed and now all examples are running fine in IntelliJ IDEA.

[2016-11-18 12:36] Golenko commented on #37
Thanks for your answer!
16.6.0 is the newest version supported by the license I have.
Is there any examples for older versions?

[2016-11-19 04:04] sohail-aspose commented on #37
Yes, three APIs are available in v16.6.0 for “Find and Replace” feature.

`replace(Pattern pattern, String replacement)`
`replace(String oldValue, String newValue, boolean isMatchCase, boolean isMatchWholeWord)`
`replace(Pattern pattern, IReplacingCallback handler, boolean isForward)`

**Example 1:**

[code]

**Example 2:**

[code]

[2016-11-19 22:19] Chase842 opened #38 "Jypype find and replace example not working"
The example on Github here:
https://github.com/aspose-words/Aspose.Words-for-Java/blob/master/Plugins/Aspose_Words_Java_for_Python/tests/quickstart/findandreplace/findandreplace.py

and the example on Aspose's website here:
http://www.aspose.com/docs/pages/viewpage.action?pageId=434471204

Both examples are not working for me.

[2016-11-21 06:16] fahadadeel commented on #38
Hello Chase842,

Find and Replace method for Java APIs has been updated, please use following example as a reference, which is updated on our GitHub repository as well.

`class FindAndReplace:

    def main(self,srcDocFile,outputDocFile,searchString,replaceString):

        Document =jpype.JClass("com.aspose.words.Document")
        FindReplaceDirection =jpype.JClass("com.aspose.words.FindReplaceD

[2016-11-21 10:34] Golenko commented on #37
Thanks a lot!

[2016-11-21 10:34] #37 closed, assigned to nobody

[2016-11-22 03:32] #36 closed, assigned to nobody

[2017-04-06 06:50] tilalahmad commented on #34
@xdenser,

In reference to your printing issue, please change "DocumentPreviewAndPrint.PrintPreviewDialog" to "PrintPreviewDialog" in the "PrintPreviewDialog.form" using some text editor, as you can see in the attached picture.

We have also updated the examples as well.

![fix](https://cloud.githubusercontent.com/assets/2285641/24741261/9e7c8c14-1abe-11e7-98ea-495fc36a51f2.png)

[2017-05-15 13:41] chandanluthra opened #42 "Java : Find and Hightlight is not working. Index out of bound"
While trying to run the find and highlight, Index out of bound exception is coming.

I executed following example.

https://github.com/aspose-words/Aspose.Words-for-Java/blob/master/Examples/src/main/java/com/aspose/words/examples/programming_documents/find_replace/FindAndHighlightText.java

[2017-05-15 16:42] tahir-manzoor commented on #42
Hi there,
Thanks for your inquiry. We have fixed this issue. Please download the code again.

[2017-06-06 11:25] winer632 opened #43 "How to replace {excel} with 1.xlsx embeding in word?"
I want to replace {excel} with 1.xlsx embeding in input.docx and save it as output.docx.
However the following code can only embed 1.xlsx to the beginning of  input.docx.
What should I do to replace {excel} tag with 1.xlsx?

input.docx I got
![image](https://cloud.githubusercontent.com/assets/4931801/26826881/46704c40-4aed-11e7-9bc3-6dd726ea7758.png)

output.docx which I want
![image](https://clou

[2017-06-06 16:37] tahir-manzoor commented on #43
Hi there,
Thanks for your inquiry. Following code example shows how to find text {Excel} and replace it with OLE object. Hope this helps you.

[code]
[code]

[2017-06-07 02:03] winer632 commented on #43
Which jar file should I reference to implement your code?

[2017-06-07 03:00] winer632 commented on #43
It works! Thank you for your help!

[2017-06-07 03:00] #43 closed, assigned to nobody

[2017-12-21 09:49] chenzude666 opened #44 "能不能修改word模板柱状图的数据呢"
word模板有几张柱状图，想要动态修改图里内部的EXCEL数据可以实现吗

[2017-12-21 15:47] tahir-manzoor commented on #44
不幸的是，Aspose.Words目前不支持请求的功能。 但是，我们已经在问题跟踪系统中将这个功能请求记录为WORDSNET-14739。 对您造成的不便，我们深表歉意。

[2018-03-23 06:35] bmulholland opened #45 "Ruby Segfault"
I have found a Ruby segfault when using together with rails, cucumber, and chrome. Repro at https://github.com/bmulholland/aspose-segfault

This is crashing our test suite about 25% of the time.

[2018-03-23 16:41] bmulholland commented on #45
Is there a better way to report bugs?

[2018-03-24 07:19] tahir-manzoor commented on #45
@bmulholland, We are investigating this issue and will get back to you soon.

[2018-03-27 16:16] tahir-manzoor commented on #45
We have logged this issue as WORDSJAVA-1765 in our issue tracking system. We will inform you once this issue is resolved.

[2018-03-30 16:49] WEIQ311 commented on #44
你好：

我这里有几个问题:
1. 我在html中存在有外联CSS和JS文件，生成word时候我的样式丢失了，怎么处理呢？
1.  图片可能是相对引用的路径，如果是存在的网络资源如何更好的处理？
目前就css样式我是使用<style>写入到html中，图片是通过将图片转base64之后替换原有src属性值
感谢您在百忙之中查阅!

[2018-03-31 17:35] tahir-manzoor commented on #44
关于您的第一个查询，我担心，Aspose.Words不处理JavaScript，并且在打开和保存期间不会读取或写入JavaScript。 但是，Aspose.Words确实支持CSS。 请邮寄并附上您的输入HTML文件和有问题的Word文档以供测试。 我们会在我们这边调查这个问题，并为您提供更多信息。

重新编写第二个查询请注意，您可以将HTML导入Aspose.Words的包含图像的DOM存在于网络资源中。 您需要确保这些资源是可访问的。 你能分享一下你面临的问题吗？

[2018-04-07 00:15] bmulholland commented on #30
@fahadadeel While the issue is fixed in the repo, the published gem still has this bug. Considering the recommended way of using the code is via the gem, I don't think this bug is actually fixed.

[2018-04-09 05:51] aspose-words commented on #30
@bmulholland,
I am afraid, we are not maintaining this plugin since long. So, please use the [latest version of Aspose.Words for Java](https://artifact.aspose.com/webapp/#/artifacts/browse/tree/General/repo/com/aspose/aspose-words/18.4) i.e. **18.4** and try to fix the issue by yourself. We apologize for any inconvenience.

[2018-04-16 06:40] zuwensong opened #46 "请问解析word的时候，发现有一些图片在调用remove的时候没有删除当前图片"
[code]

[2018-04-16 06:45] zuwensong commented on #46
[code]

[2018-04-16 12:45] aspose-words commented on #46
@zuwensong,
请尝试使用以下代码：

[code]

[2018-04-18 05:28] aspose-words commented on #30
@bmulholland,

Thanks for sharing workaround in [this post](https://forum.aspose.com/t/aspose-causes-ruby-segfualt/174108/12?u=awais.hafeez). We are copying the workaround details here which may help other developers who are facing the same problem:

[2018-09-11 06:36] boluoshu opened #47 "下载后测试，生成的html内除文档内容外有企业logo(Aspose)图片"
这是为什么，是因为没有用License吗

[2018-09-11 08:06] aspose-words commented on #47
@seven-hu-go ,
是的，这是因为您在评估模式下使用Aspose.Words（未设置许可证）。 如果您想在没有评估版本限制的情况下测试Aspose.Words，您还可以申请30天的临时许可证。 请参阅：
[如何获得临时许可证？](https://purchase.aspose.com/temporary-license)

[2018-09-11 09:26] boluoshu commented on #47
Thank you very much

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

________________________________
发件人: Aspose.Words Product Family <notifications@github.com>
发送时间: Tuesday, September 11, 2018 4:06:16 PM
收件人: aspose-words/Aspose.Words-for-Java
抄送: seven-hu-go; Mention
主题: Re: [aspose-words/Aspose.Words-for-Java] 下载后测试，生成的html内除文档内容外有企业logo(Aspose)图片 (#47)

@seven-hu-go<htt

[2018-09-11 11:24] aspose-words commented on #47
@seven-hu-go,
如果您有进一步的询问或需要任何帮助，请告诉我们。
请随时在以下Aspose.Words论坛中发布您的查询：
https://forum.aspose.com/c/words

[2018-09-11 11:39] boluoshu commented on #47
好的，谢谢

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

________________________________
发件人: Aspose.Words Product Family <notifications@github.com>
发送时间: Tuesday, September 11, 2018 7:24:27 PM
收件人: aspose-words/Aspose.Words-for-Java
抄送: seven-hu-go; Mention
主题: Re: [aspose-words/Aspose.Words-for-Java] 下载后测试，生成的html内除文档内容外有企业logo(Aspose)图片 (#47)

@seven-hu-go<https://github.co

[2018-12-19 08:25] yaphot opened #48 "导出word着重号"
导出word着重号怎么写？》

[2018-12-19 11:17] awaishafeez commented on #48
@yaphot,

请压缩并将显示所需输出的预期文档上传到Dropbox或任何其他文件托管服务，并在此提供下载链接以供我们参考。 您可以使用MS Word创建预期文档。 然后，我们将调查您的预期文档的结构，并通过使用Aspose.Words为您提供实现相同的代码。

[2018-12-19 12:50] yaphot commented on #48
[着重号.docx](https://github.com/aspose-words/Aspose.Words-for-Java/files/2694891/default.docx)

[2018-12-19 12:51] yaphot commented on #48
已上传，谢谢！

[2018-12-20 02:36] awaishafeez commented on #48
@yaphot,

我们已在问题跟踪系统中记录您的要求。 我们将在Aspose.Words中添加一个功能，以支持“Emphasis Mark”字体设置。 您的票号是WORDSNET-13983。 我们将进一步研究此要求的详细信息，并随时向您通报此问题的最新状态：

[2018-12-20 02:52] yaphot commented on #48
OK.thanks

[2018-12-25 09:55] yaphot commented on #48
@awaishafeez
如何将 <w:rPr> <w:em w:val="dot"/> </w:rPr>   写入word中呢？

[2018-12-25 11:44] aspose-com-gists commented on #48
@yaphot ,

我担心，目前这是不可能的。

在DOCX格式中，这是<w:em w:val= />内的<w:rPr>元素。 值可以是'CIRCLE'，'COMMA'，'DOT'，'NONE'和'underdot'。

在DOC格式中，这是sprmCKcd（0x2A34），其操作数必须是以下值之一：

- 0x00 - No emphasis
- 0x01 - Solid circle
- 0x02 - Comma above
- 0x03 - Circle above
- 0x04 - Solid circle below

在RTF格式中，这些是字体格式属性的以下控制字：
'\ accnone'，'\ accdot'，'\ acccomma'，'\ acccircle'和'\ accunderdot'。

一旦此问题得到解决，我们会立即通知您。 很抱歉给您带来不便。

[2019-01-07 22:19] spoco2 opened #49 "Create Document via input stream results in blank saved document"
I just spent ages trying to work out why my DOCX --> PDF files were ending up blank.

`InputStream fileStream = new FileInputStream(fileToConvert);`
`Document doc = new Document(fileStream);`
`doc.save(targetFile.getAbsolutePath(), SaveFormat.PDF);`

Results in blank document

`Document doc = new Document(fileToConvert.getAbsolutePath());`
 `doc.save(targetFile.getAbsolutePath(), SaveFormat.PDF);`

[2019-01-08 11:56] awaishafeez commented on #49
@spoco2 ,
It looks like you need to rewind the InputStream position back to zero so it is ready for Aspose.Words' Document constructor to read it from the start position. Or you can close the InputStream and then re-instantiate by using the following code:
[code]

[2019-01-08 22:10] spoco2 commented on #49
@awaishafeez Aaaah! Ok. That makes sense. I guess that opens the question then, is there ever any case where someone would want to use `new Document(inputStream)` with anything but it reading from the start? If not, would it make sense for the constructor to rewind the inputStream before reading it?

[2019-01-09 08:39] awaishafeez commented on #49
@spoco2,
I am afraid, the Document constructor of Aspose.Words for Java starts reading the InputStream from the current position to the end. It does not rewind and does not close the stream after reading.

However, we have logged your requirement in our issue tracking system. Your ticket number is **WORDSJAVA-1971**. We will further look into the details of this requirement and will keep you updat

[2019-01-09 22:34] spoco2 commented on #49
Thanks for the reply. Our use case is all fine here, I just went back to using it directly from the filename and it works fine. It was just very unclear why the stream was causing a blank document.

[2019-01-09 22:34] #49 closed, assigned to nobody

[2019-02-02 05:20] aspose-com-gists commented on #49
@spoco2,
It is great that you were to resolve this issue on your end.

Regarding WORDSJAVA-1971, we have completed the work on your issue and concluded to close this issue as ‘Not a Bug’. Please see the following analysis details:

1. We unfortunately could not reproduce the exact bug on our end. The code snippet you provided works fine on our end - we get just the converted PDF document. Probably

[2019-03-12 02:34] llx2018 opened #50 "更改柱状图颜色"
你好，ApiExample里Data的ReportingEngine.SetPointColorDinamically Gold.docx文档是怎么实现的，没有找到相应的实现程序

[2019-03-12 08:14] falleretic commented on #50
你好, 示例将很快添加。使用以下代码：

[code]

[2019-03-12 08:35] llx2018 commented on #50
非常感谢！
能否问一下，通过Shape shape = builder.insertChart(ChartType.PIE_3_D, 430, 240);生成一个3d饼图之后，能否设置生成的饼图无边框

[2019-03-12 09:30] llx2018 commented on #50
这个工具不能做到在生成图表之后改颜色吗？只能通过模板才能改？

[2019-03-12 11:29] falleretic commented on #50
你可以的 使用 shape.setStroked(false);

[2019-03-12 11:55] falleretic commented on #50
您可以阅读 "https://docs.aspose.com/display/wordsjava/Using+Charts+to+Represent+Sequential+Data" 以获取更多信息。 但是如果你使用ReportingEngine，你需要使用模板。

[2019-03-12 12:35] llx2018 commented on #50
这个我看了，这就是使用reportingEngine技术的啊。      我现在使用的是Shape shape = builder.insertChart(ChartType.PIE_3_D, 430, 240)这样的方式，大都完成了，只有颜色不能自主设置。找了许久都没有结果，无奈才另找的reportingEngine方法。不知道是我没有找到还是方式一不能设置颜色呢。

[2019-03-12 13:28] falleretic commented on #50
我们已经在问题跟踪系统中记录了这个功能，但不幸的是，AW不能以另一种方式设置颜色。 我们为您的不便表示歉意。

[2019-03-12 15:35] llx2018 commented on #50
这样啊，那很可惜。总觉得用模板不够灵活。         我用了您提供的代码。发现3d饼图的颜色不正确（数据显示正确），但是其它图（平面饼图，柱状图等）都正常。这是为何，reportingEngine3d对于饼图和平面饼图的颜色设置不一样吗？

[2019-03-12 20:53] falleretic commented on #50
我没有看到任何区别。你能提供你的测试文件吗？

[2019-03-13 01:33] llx2018 commented on #50
ReportingEngine.SetPointColorDinamically.docx

[2019-03-13 01:41] llx2018 commented on #50
就是这个，我是在原来的折线图上重新插入的3d饼图。  第二个表格是我生成后的效果，用的就是您提供的程序。
[ReportingEngine.SetPointColorDinamicallyssss.docx](https://github.com/aspose-words/Aspose.Words-for-Java/files/2959386/ReportingEngine.SetPointColorDinamicallyssss.docx)
（我自己在另起页里生成的模板和公式程序不识别，可能我自己生成的模板有问题）
[ReportingEngine.SetPointColorDinamically.docx](https://github.com/aspose-words/Aspose.Words-for-Java/files/2959382/ReportingEngine.SetPoi

[2019-03-13 02:10] llx2018 commented on #50
shape.setStroked(false);这个方法没有去掉3d饼图的边框啊
我使用了   1.shape.setStroked(false)        2.shape.setStroked(true)  ; shape.getStroke().setLineStyle(LineStyle.none);    3.shape.setStroked(false)  ; shape.getStroke().setLineStyle(LineStyle.none);    都不能去掉饼图中饼的边框。是我用的方式不对吗

[2019-03-13 05:44] llx2018 commented on #50
你好，我尝试把ReportingEngine.SetPointColorDinamically Gold.docx模板里的Series  1<<y [Value1]>><<seriesColor[''red'']>> 和后Series  2<<y [Value2]>><<seriesColor[colorcode]>> 俩标签delete后，运行程序之后依然还起效果是为什么。   这两标签是怎么生成的，好像不能编辑。我如何自定义这样的标签呢。    遇到的问题颇多，麻烦您了。          由于我在项目中用的是16.5.0版本的aspose.words  ，我把程序迁移到项目中运行后，总是出现Tag 'seriesColor' is not well-formed. Token 'seriesColor' is unexpected.的错误。但是在19.2的例子中就没有问题，这是因为版

[2019-03-13 07:06] llx2018 commented on #50
我尝试了，16.5.0版本应该是不支持seriesColor标签。     还有之前
reportingEngine改不了pie_3d颜色是因为不知为何插入3d pie图时，seriesColor固定为了red，所以都会显示红色。这个标签是怎么生成的呢

[2019-03-13 08:35] falleretic commented on #50
好的，让我们按顺序。您目前使用的是什么版本的AW？ “seriesColor”和“pointColor”自18.3版本开始呈现。我现在使用最新的19.3版本来测试问题。总是红色饼图你的问题是因为你的模板中有Series 1<<y [Value1]>><<seriesColor ["Red"]>>。但只需要Series 1<<y [Value1]>><<pointColor [ColorCode]>>。至于border和shape.setStroked（false），你的意思是这样的边界https://www.screencast.com/t/abpHZcHjd ？ 如果是的话，这一切都是正确的。

[2019-03-13 08:47] llx2018 commented on #50
嗯嗯，我使用的是16.5.0版本。   不是这样额边界，是这个框里面饼图的边界。
![1552466746(1)](https://user-images.githubusercontent.com/30788765/54265106-81283500-45af-11e9-8d77-2b267d7b8908.jpg)       Series 1<<y [Value1]>><<pointColor [ColorCode]>>这个标签如何设置呢，为什么我将其去掉还有作用。我自己无法生成这样的标签。好像不是简单的文本框

[2019-03-13 09:09] llx2018 commented on #50
我看提供的示例代码里面，对于reportingEngine的详细使用提及很少。也没说支持什么样的标签啊还有标签如何设置的。有点无从下手啊

[2019-03-13 12:12] falleretic commented on #50
不幸的是，这样的边界无法删除。我将创建此功能的请求。
[3dPie.docx](https://github.com/aspose-words/Aspose.Words-for-Java/files/2961328/3dPie.docx)
[3dPie-after.docx](https://github.com/aspose-words/Aspose.Words-for-Java/files/2961329/3dPie-after.docx)
有两个基于您的图表的文档。标记设置如下
https://www.screencast.com/t/NNOoMxMDJ
https://www.screencast.com/t/kSV6QDx1fk
我们将尝试在文档中显示，从哪个版本开始，这个或那个功能是可用的并将在不久的将来添加更多用法示例。

[2019-03-13 12:31] llx2018 commented on #50
万分感谢您的答疑！感谢！我会遵照您的解答进行尝试，若有疑问再向您请教。 祝好！

[2019-03-16 09:03] llx2018 commented on #50
万分感谢您的答疑！感谢！我会遵照您的解答进行尝试，若有疑问再向您请教。 祝好！

[2019-03-16 09:06] llx2018 commented on #50
请问Series 1<<y [Value1]>><<pointColor [ColorCode]>>  和Series 2<<y [Value2]>><<seriesColor[ColorCode]>>两个中的pointColor和seriesColor有啥分别。     reportingEngine使用的模板规则有样例吗

[2019-03-16 09:43] llx2018 commented on #50
为啥我把ColorCode 这个属性改为其它名称word就会提示输入的公式有误，无法更改。如果我想把这个值改为其它的名称与java属性相对应应该怎么改呢

[2019-03-16 10:58] llx2018 commented on #50
你好，我现在想单独控制饼图和柱状图的值和颜色，因为两图需要在同一个模板里，但是改不了您给的模板里的Series 2<<y [Value2]>><<seriesColor[ColorCode]>>这样的值，看了许久也没有这相关的知识，还请您为我解惑。

[2019-03-16 11:39] llx2018 commented on #50
因为我现在一个模板里有一个柱状图和两个饼图，每个图的数据颜色都是不同的，需要单独设置，如何才能做到。我发现engine.buildReport(document, dataSource, dataSourceName);只有一个数据源，而且这个方法只能操作一次。   我本想为每一个图像单独设置一个dataSourceName,然后单独生成相应的值。之后多次使用engine.buildReport(...)方法。但是貌似行不通。会报错。请问这样该怎么做。

[2019-03-16 12:18] llx2018 commented on #50
我刚发现engine.buildReport(Document doc,String[] dataSource,String[] dataSourceName);方法，想必能够设置多个数据源。但是还是想请您告知一下   “你好，我现在想单独控制饼图和柱状图的值和颜色，因为两图需要在同一个模板里，但是改不了您给的模板里的Series 2<<y [Value2]>><<seriesColor[ColorCode]>>这样的值，看了许久也没有这相关的知识，还请您为我解惑。”这个问题，这公式是如何操作的呢

[2019-03-18 07:00] falleretic commented on #50
你好！
"seriesColor", 用於定義整個系列的顏色, "pointColor" 設置單個圖表系列點的顏色。
因此, "seriesColor" 只接收一個值。 您可以使用 "seriesColor ["Red"]" 或 "seriesColor ["#FF0000"]" 或 "seriesColor [您的 _ 值]" 或文檔中描述的其他選項。
[SetSeriesAndPointColor.docx](https://github.com/aspose-words/Aspose.Words-for-Java/files/2976695/SetSeriesAndPointColor.docx)
您可以使用此範本查看示例:

[code]

[2019-03-18 08:21] llx2018 commented on #50
嗯嗯。这例子我尝试过了。但是我想改模板里[Series 2<<y '[Value2']>><<pointColor '[ColorCode']>>]]
Value2和ColorCode这个属性，但是每次一改就提示错误。这个是怎么改的呢

[2019-03-18 09:31] falleretic commented on #50
首先，看看 "https://support.office.com/en-ie/article/change-the-data-series-in-a-chart-30b55a30-1c2e-42d5-8ed1-3cc3ffb68036#OfficeVersion=Windows" 並更改文檔中的範本。 如果您已經這樣做了, 請確保在代碼中更改了值名稱。 https://www.screencast.com/t/VyBjyW0xWsc

[2019-03-18 09:52] llx2018 commented on #50
好的，谢谢

[2019-03-22 03:59] llx2018 commented on #50
好的，谢谢

[2019-03-24 03:11] llx2018 commented on #50
你好，aspose.word 如何使标题行在生成的跨页表格第一行重复显示

[2019-03-25 06:09] falleretic commented on #50
您好, 請參見: https://docs.aspose.com/display/wordsjava/Working+with+Columns+and+Rows#WorkingwithColumnsandRows-SpecifyingRowstoRepeatonSubsequentPagesasHeaderRows

[2019-03-25 09:53] llx2018 commented on #50
![1553507526(1)](https://user-images.githubusercontent.com/30788765/54910194-cab93e00-4f26-11e9-892a-d1e7f67c7135.jpg)

hello,生成后的piechart编辑数据后怎么会显示的是模板里的数据呢

[2019-03-25 10:29] llx2018 commented on #50
你好，这个问题比较关键。请问有方法解决吗

[2019-03-25 14:19] falleretic commented on #50
MW 使用資料緩存來構建圖表, AW 也使用它並對其進行更改。AW 目前不支援將這些值插入表中。

[2019-03-25 14:22] llx2018 commented on #50
现在不支持数据编辑吗？只能显示模版里的数据？

| |
柳煜
|
|
邮箱：15638245919@163.com
|

签名由 网易邮箱大师 定制

在2019年03月25日 22:19，vderyushev 写道：

MW 使用資料緩存來構建圖表, AW 也使用它並對其進行更改。AW 目前不支援將這些值插入表中。

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-03-25 15:35] falleretic commented on #50
我说的是你的照片，其中生成的数据不显示在文档中，目前AW不支持它。 您可以通过"选择数据源"窗口查看和编辑文档中的数据。
![AW_chart](https://user-images.githubusercontent.com/2050216/54932850-24812e80-4f4e-11e9-9f49-e9164d97e232.png)

这是你的问题吗

[2019-03-26 02:04] llx2018 commented on #50
![图片](https://user-images.githubusercontent.com/30788765/54966081-22e75300-4fae-11e9-9d72-840bba1aa64e.png)

如图中所示，那两个地方数据应该是相同的，而且都是可编辑的，能够对生成的chart图的数据进行调整。请问这个官方有实现计划吗。我们前两天刚做了aw控件升级，但是这个实现不了的话，业务不好进行。

[2019-03-26 02:06] llx2018 commented on #50
![图片](https://user-images.githubusercontent.com/30788765/54966278-c0db1d80-4fae-11e9-80e3-e20e50a8fbae.png)

[2019-03-26 03:20] falleretic commented on #50
表中的数据将在未来版本中提供。任務編號：WORDSNET-18468, WORDSNET-19455. 我们会通知你，当它会准备好。

[2019-05-24 08:21] rake93 opened #52 "Do you have support for adding dynamic WebExtension element nodes in Word Document?"
I have requirement where I need to add Web Extension properties to the document dynamically when it downloaded from application, below is the sample webextension xml that I need to add.

[code]
I have gone through your API Documentation and examples and did'nt find any thing related to adding Web Extension properties to the Document, but I found that we can add to the Excel Workbook from below lin

[2019-05-24 10:07] awaishafeez commented on #52
@rake93 ,

We have logged your requirement in our issue tracking system. Your ticket number is WORDSNET-18634. We will further look into the details of this requirement and will keep you updated on the status here.

[2019-07-03 12:16] lllfx opened #53 "aspose word转pdf linux系统上很慢"
同样的代码和word文件，在windows 讲word转成pdf只需要2s左右，在linux上需要200s。请问aspose是不是用了windows上某些库？

[2019-07-04 06:57] lllfx commented on #53
解决了，主要是doc中资源的问题。将资源定义为skip就可以了。

[2019-07-04 06:57] #53 closed, assigned to nobody

[2019-07-08 08:32] ZCHWorld opened #54 "org.apache.tomcat.util.bcel.classfile.ClassFormatException:Invalid byte tag in constant pool: 19"
my app deploy in Tomcat8.5.2 and jdk1.8.And I through Maven dependency aspose-words-19.6-jdk17.jar.
when i startup tomcat,it throw Exception:

[code]

[2019-07-08 11:07] awaishafeez commented on #54
@ZCHWorld,

This does not seem to be a bug in Aspose.Words for Java. Instead, it seems to be an issue with Tomcat. Please check the following links:
https://bz.apache.org/bugzilla/show_bug.cgi?id=60688
https://stackoverflow.com/questions/23541532/org-apache-tomcat-util-bcel-classfile-classformatexception-invalid-byte-tag-in

To fix it, please try to update Tomcat to the latest version and also may

[2019-07-16 00:47] ZCHWorld commented on #54
Thanks to awaishafeez's answer, I finally decided to use Tomcat 9 and turn off the TLD scan.

[2019-07-16 00:47] #54 closed, assigned to nobody

[2019-07-16 00:58] ZCHWorld opened #55 "com.aspose.words.License.isLicensed() is deprecated"
com.aspose.words.License.isLicensed() is deprecated, I can't find an alternative, who can tell me?thank.

[2019-07-16 11:01] awaishafeez commented on #55
@ZCHWorld,
I am afraid, there is no alternative. License.setLicense method throws an exception if license is invalid. You can use try-catch block to look for any exceptions. Hope, this helps.

[2019-07-16 11:28] ZCHWorld commented on #55
amazing!

[2019-07-16 11:28] #55 closed, assigned to nobody

[2019-08-01 09:35] yaphot opened #56 "aspose能解析MathType公式吗？"
aspose能解析MathType插件编辑的公式吗？转换成math ML或者latex公式

[2019-08-01 11:57] rake93 commented on #52
@awaishafeez - Any update on my request?

[2019-08-01 17:34] awaishafeez commented on #52
@rake93,
Unfortunately, WORDSNET-18634 is not resolved yet. We have completed the initial analysis of this issue and will inform you once this issue will be resolved in future. We apologize for any inconvenience.

[2019-08-02 04:18] awaishafeez commented on #56
@yaphot,
你能否分享一下你正在谈论的'MathType插件'的更多细节？ 我们如何在MS Word中集成此插件？ 从哪里可以获得它进行测试？ 您还可以请输入您的输入Word文档，并在此处附加包含MathML和Latex公式的预期Word文档以进行测试吗？

[2019-08-02 12:17] yaphot commented on #56
[http://www.mathtype.cn/jiqiao/mathtype-qianru-word.html](url)
[公式样例.docx](https://github.com/aspose-words/Aspose.Words-for-Java/files/3461172/default.docx)

[2019-08-02 12:18] yaphot commented on #56
我想要用aspose解读到这些公式，并存储对应的math ml

[2019-08-03 05:00] awaishafeez commented on #56
@yaphot ,
我们在问题跟踪系统中记录了您的要求。 您的票号是WORDSNET-18992。 我们将进一步研究此要求的详细信息，并让您及时了解链接问题的状态。

[2019-08-15 08:37] cuixiaoyan opened #57 "word 转 pdf 绘图工具所做的 图片丢失 着重号丢失"
![image](https://user-images.githubusercontent.com/35671835/63082995-36558380-bf7a-11e9-877f-1521e80b000d.png)
丢失部分是绘图工具 所绘制的图片 直接引入的图片 是没有问题的
`Document doc = new Document(inPath); // Address是将要被转化的word文档
			doc.save(os, SaveFormat.PDF);// 全面支持DOC, DOCX, OOXML, RTF HTML, OpenDocument, PDF,`
[a.docx](https://github.com/aspose-words/Aspose.Words-for-Java/files/3504813/a.docx)
![image](https://user-i

[2019-08-16 03:46] awaishafeez commented on #57
@cuixiaoyan ,
在使用最新版本的Aspose.Words for .NET（即19.8）进行初步测试后，我们无法在最终重现此问题。 请使用以下简单代码查看我们从您的DOCX文件生成的输出PDF（[19.8.pdf](https://github.com/aspose-words/Aspose.Words-for-Java/files/3507990/19.8.pdf)）：
[code]
所以，请升级到最新版本，即19.8。 希望这可以帮助。

[2019-08-16 07:11] cuixiaoyan commented on #57
@awaishafeez 你好 我已经修复了图片丢失的问题 我是java 的  但是着重号显示问题仍然存在 如你所见 这个功能是比较有用的 能否在代码方面进行修改

[2019-08-17 04:33] awaishafeez commented on #57
@cuixiaoyan ,

我已使用“另存为”命令使用MS Word 2019将您的a.docx文档转换为PDF foromat，并在此处附加PDF文件供您参考。
[msw-2019.pdf](https://github.com/aspose-words/Aspose.Words-for-Java/files/3511642/msw-2019.pdf)

您是否在此MS Word 2019生成的PDF中看到了同样的问题？

如果是，请同时提供一个比较屏幕截图，突出显示Aspose.Words生成的PDF文件中有问题的区域，关于MS Word 2019生成的PDF文件，并将其附在此处供我们参考。 请指出此问题确切存在的问题。 然后，我们将进一步调查此问题，并为您提供更多信息。 谢谢你的合作。

[2019-08-19 01:40] cuixiaoyan commented on #57
@awaishafeez 这个在转换为pdf时 直接报错
[转换直接就报错.docx](https://github.com/aspose-words/Aspose.Words-for-Java/files/3513863/default.docx)
![image](https://user-images.githubusercontent.com/35671835/63233881-38169400-c265-11e9-9cd3-15f7122068c1.png)
我并不知道问题原因 只有这个文档会有这个问题

[2019-08-19 04:07] awaishafeez commented on #57
@cuixiaoyan ,

在使用[Aspose.Words for Java的最新版本](https://downloads.aspose.com/words/java)（即19.8）进行初步测试后，我们无法在最终重现此问题（请参阅输出 [awjava-19.8.pdf](https://github.com/aspose-words/Aspose.Words-for-Java/files/3514147/awjava-19.8.pdf)）。 我们使用以下代码在Windows 10计算机（Java 8）上进行了测试：

[code]

[2019-08-23 02:07] cuixiaoyan commented on #57
@awaishafeez 我所使用的版本为 19.1 word 转换图片出现如下问题
![image](https://user-images.githubusercontent.com/35671835/63561672-652cb480-c58d-11e9-9e61-5bde72ff1528.png)
使用word转换pdf是不会出现所述问题 望解答

[2019-08-23 05:36] awaishafeez commented on #57
@cuixiaoyan ,
请升级到最新版本的Aspose.Words for Java，即19.8
https://downloads.aspose.com/words/java

如果问题仍然存在，请压缩并上传新的有问题的Word文档和相应的PDF文件，在此处显示不需要的行为以进行测试。 然后，我们将在最后调查此问题，并为您提供更多信息。

_附： 我担心，我们不支持旧版本的Aspose.Words。 另请注意，我们不会为旧版本的Aspose API提供任何修补程序或补丁。 所有修复程序和新功能总是添加到我们的API的新版本中。 所以，请升级到最新版本，即19.8。 希望这可以帮助。_

[2019-08-31 12:05] awaishafeez commented on #57
@cuixiaoyan,
您是否设法解决了问题，或者您是否还需要帮助？ 如果问题得到解决，那么我们将解决此问题。

[2019-09-02 01:28] cuixiaoyan commented on #57
@awaishafeez  你好已经解决 谢谢你的热心回复

[2019-09-02 05:06] #57 closed, assigned to nobody

[2019-10-28 08:59] #34 closed, assigned to nobody

[2019-10-28 09:00] #38 closed, assigned to nobody

[2019-10-28 09:01] #42 closed, assigned to nobody

[2019-10-28 09:04] AlexNosk commented on #45
The issue was resolved in 18.5 version.

[2019-10-28 09:04] #45 closed, assigned to nobody

[2019-10-28 09:14] AlexNosk opened #58 "Html processing question."
你好：

我这里有几个问题:
1. 我在html中存在有外联CSS和JS文件，生成word时候我的样式丢失了，怎么处理呢？
1.  图片可能是相对引用的路径，如果是存在的网络资源如何更好的处理？
目前就css样式我是使用<style>写入到html中，图片是通过将图片转base64之后替换原有src属性值
感谢您在百忙之中查阅!

_Originally posted by @WEIQ311 in https://github.com/aspose-words/Aspose.Words-for-Java/issues/44#issuecomment-377567898_

[2019-10-28 09:21] #58 closed, assigned to nobody

[2019-10-28 09:22] #46 closed, assigned to nobody

[2019-10-28 09:24] #47 closed, assigned to nobody

[2019-11-01 18:37] 1nutzername opened #59 "Create document via inputstream results in blank page"
I saved my docx documents temporarily as blob in a postgresql database using jdbc. After fetching and initializing them with help of the Document::constructor (Aspose 19.10) all of the created documents are blank.
### Example code
[code]

### The cause
The Document::constructor for inputstreams calls `zz51.zzY(stream)` and this method contains the following lines:
[code]
My InputStream isn't of ty

[2019-11-06 12:39] AlexNosk commented on #59
@i7i5 Thank you for reporting this to us. I logged the issue WORDSJAVA-2248 in our bug tracking system. We will let you know once it is resolved.

[2019-11-13 01:34] pang691 opened #60 "Word document converts the image,in Linux system Chinese garbled. very urgent"
When the Word document converts the image, the Chinese in the Windows system image will not be garbled, but it will be garbled when it is deployed to the Linux server and converted into a picture. How to solve it? The things on the Linux server cannot be moved. thanks very much

[2019-11-14 07:24] AlexNosk commented on #60
@pang691 Thank you for your request. Could you please attach the problematic document for testing? We will check and provide you more information. You can post here or in our [support forum](https://forum.aspose.com/c/words) (the main place for support).

[2019-11-15 01:18] pang691 commented on #60
[test001.docx](https://github.com/aspose-words/Aspose.Words-for-Java/files/3849375/test001.docx)
This is the original document
![image](https://user-images.githubusercontent.com/51735160/68909166-6afaf600-0788-11ea-8f0d-8ff1c440101a.png)
This is a picture converted to a Linux server.
There is only a default font on the server, and other fonts are not allowed to be installed. How to solve this prob

[2019-11-15 12:34] AlexNosk commented on #60
@pang691 Unfortunately without fonts documents cannot be properly rendered to images or any other fixed page formats (PDF, XPS etc). Also absence of fonts might cause problems upon updating fields, which results depend on page layout.
To work the problem around it is not required to install fonts on the server. You can simply put the required fonts into a folder within your application and set thi

[2019-11-18 09:25] AlexNosk commented on #52
@rake93 The feature was included into the 19.11 version of Aspose.Words. Please check [release notes ](https://docs.aspose.com/display/wordsjava/Aspose.Words+for+Java+19.11+Release+Notes) for more information.

[2019-11-18 09:25] #52 closed, assigned to nobody

[2019-11-18 12:48] AlexNosk commented on #60
@pang691 Was the above reply helpful for you? Can we close the issue?

[2019-11-22 01:36] pang691 commented on #60
Sorry, I only see it now, I try the method you said, I will reply to you once I have the result, thank you very much.

[2019-11-22 10:31] pang691 commented on #60
I put the font in the application directory, get the relative path of the font, and then use FontSettings.setFontsFolder (), deployed to the Linux server can not find the font under this folder, this is how, FontSettings.setFontsFolder (） Is the parameter an absolute path?

[2019-11-22 11:16] AlexNosk commented on #60
@pang691 setFontsFolder should accept both relative and absolute paths. But you can try specifying absolute path to make sure the path is correct. Use something like this to convert relative path to absolute
`String absolutePath = FileSystems.getDefault().getPath(mayBeRelativePath).normalize().toAbsolutePath().toString();`

[2019-11-25 00:54] pang691 commented on #60
I use a relative path to deploy to a Linux server or a small square garbled. What is going on? Is there any other way?

[2019-11-25 00:55] pang691 commented on #60
I use a relative path to deploy to a Linux server is also a small square garbled, how is this going? Is there any other way?

[2019-11-25 08:21] AlexNosk commented on #60
@pang691 Could you please create a simple document that allows to reproduce the problem and attach it here? Also let me know what Linux distribution you use. I will check the issue on my side and let you know my findings.

[2019-11-25 14:23] pang691 commented on #60
I am reading a docx document from the server and then converting it to a picture. Later I will paste the code of how I convert the image and the code I use to set the font with a relative path. The garbled code will appear in the windows system. But deploying it to a Linux server is Chinese garbled (that is, posted above), which has blocked me for a long time, hoping to give a good implementation.

[2019-11-25 14:26] pang691 commented on #60
I am reading a docx document from the server and then converting it to a picture. Later I will paste the code of how I convert the image and the code I use to set the font with a relative path. I will not get garbled under windows system. However, if it is garbled on the Linux server (that is, posted above), this has hindered me for a long time, hoping to give a good implementation. Thanks

[2019-11-26 03:18] pang691 commented on #60
I tested in a Java environment
my generated output picture
![中文乱码](https://user-images.githubusercontent.com/51735160/69596699-72e74f80-103e-11ea-958d-ac2b1f07a072.jpg)

my Word document
[中文乱码.zip](https://github.com/aspose-words/Aspose.Words-for-Java/files/3889894/default.zip)

I tried the code but it didn’t work
LoadOptions opt = new LoadOptions();
opt.setEncoding(Encoding.CHARSET_GB2312);
Docum

[2019-11-26 08:46] pang691 commented on #60
![image](https://user-images.githubusercontent.com/51735160/69612381-87d9d800-106a-11ea-9c87-25433fa4cfbc.png)
This is the structure of my project. I put the font under the red box folder and use setFontSetting to specify the relative path of the folder, but it didn't work. What is going on?
![image](https://user-images.githubusercontent.com/51735160/69612583-f3bc4080-106a-11ea-9c9e-7a669f750f82.p

[2019-11-27 13:22] AlexNosk commented on #60
@pang691 Thank you for additional information. I will check the scenario on my side and get back to you with results.

[2019-12-03 01:26] pang691 commented on #60
Hello, did you get garbled characters there? Solve it?  thanks

[2019-12-03 12:32] AlexNosk commented on #60
@pang691 Hello, excuse me for a late response. I managed to reproduce garbled characters. The problem occurs because Aspose.Words cannot find the fonts. You can easily check this by saving the output document to PDF and checking its properties - the PDF will contain only Fonwood font, which is the last resort font.
I managed to make it work by using absolute path for fonts folder. I create a simpl

[2019-12-13 01:25] pang691 commented on #60
Thank you very much, I have solved this problem with relative paths, thank you for your help

[2019-12-13 08:03] #60 closed, assigned to nobody

[2020-01-08 08:02] AlexNosk commented on #59
@i7i5 The issue you have reported earlier is fixed. The fix is included into the latest 20.01 release of Aspose.Words for Java. You can download this version from [here](https://downloads.aspose.com/words/java).

[2020-01-08 08:02] #59 closed, assigned to AlexNosk

[2020-01-11 14:04] wangruofeianccl opened #61 "两个doc文档合并，合并后字体大小变了，这是什么原因？"
合并前：
![image](https://user-images.githubusercontent.com/25164718/72205431-df6ac080-34bd-11ea-8080-1b60d002b6e0.png)
合并后:
![image](https://user-images.githubusercontent.com/25164718/72205470-51430a00-34be-11ea-8408-82de78a3164e.png)

[2020-01-13 08:13] AlexNosk commented on #61
Thanks for your request. Could you please attach your input and output documents for testing and provide code to reproduce the problem? We will check the issue and provide you more information.

[2020-02-03 04:18] rake93 commented on #52
@AlexNosk - Thanks for the update.

[2020-02-12 07:44] AlexNosk commented on #61
No feedback from the customer. Close the issue.

[2020-02-12 07:44] #61 closed, assigned to AlexNosk

[2020-02-23 07:47] llx2018 commented on #50
hello,Aspose.Word中 builder.insertChart()方式怎么生成带折现的柱状图呢
![图片](https://user-images.githubusercontent.com/30788765/75105857-c1af8000-5653-11ea-8afb-ccbc13ecf18f.png)

[2020-02-24 04:23] llx2018 commented on #50
hello？

[2020-02-24 04:55] llx2018 opened #62 "hello,Aspose.Word中 builder.insertChart()方式怎么生成带折现的柱状图呢?"

[2020-02-24 07:45] AlexNosk commented on #62
@llx2018 Could you please create the intended output in MS Word and attach the document here? We will check it and let you know how to create such document using Aspose.Words.

[2020-02-24 07:47] llx2018 commented on #62
![图片](https://user-images.githubusercontent.com/30788765/75135578-ef143080-571c-11ea-84c5-98638dfe981c.png)

[2020-02-24 07:50] AlexNosk commented on #62
@llx2018 Could you please attach the source document, not screenshot?

[2020-02-24 07:51] AlexNosk commented on #50
@llx2018 Your issue will be investigated in a separate thread https://github.com/aspose-words/Aspose.Words-for-Java/issues/62.

[2020-02-24 07:53] llx2018 commented on #62
ok
[新建 Microsoft Word 文档 (3).docx](https://github.com/aspose-words/Aspose.Words-for-Java/files/4243496/Microsoft.Word.3.docx)

[2020-02-24 08:03] AlexNosk commented on #62
@llx2018 What you are asking about is a complex or combo charts, i.e. two or more charts types combined in one chart. Unfortunately currently there is no way to create such charts programmatically using Aspose.Words. Your request is linked to the appropriate issue in our defect's data base WORDSNET-18330. We will let you know once it is resolved.

[2020-02-24 08:38] llx2018 commented on #62
ok，thank you

| |
柳煜
|
|
邮箱：15638245919@163.com
|

签名由 网易邮箱大师 定制

在2020年02月24日 16:03，AlexNosk 写道：

@llx2018 What you are asking about is a complex or combo charts, i.e. two or more charts types combined in one chart. Unfortunately currently there is no way to create such charts programmatically using Aspose.Words. Your request is linked to the appropriate issue in our defect's data base WORDSNET-1

[2020-02-25 18:23] colddew opened #63 "words convert to html problem"
i paste a png table picture in the words document, but when i use aspose-words and convert words to html, the text in the picture rotate 90 degrees. i wonder if I need to set some parameters, or it is a bug

original words
http://60.179.33.39:81/e/file/download?code=57b6ec48b1fa3a67&id=17937

original snapshot
![image](https://user-images.githubusercontent.com/6032545/75272696-5a532500-5839-11ea-9

[2020-02-25 18:33] colddew commented on #63
aspose-words version is 18.5.0718

[2020-03-11 15:04] AlexNosk commented on #63
Could you please reattach the original document. The link you have provided is not valid anymore. We will investigate the problem and provide you more information.

[2020-06-01 09:03] Echopei opened #64 "word coverts to pdf table style is wrong"
word table
![image](https://user-images.githubusercontent.com/10030002/83393576-97771680-a429-11ea-9a4a-f5e7f718514b.png)

convert to pdf

![image](https://user-images.githubusercontent.com/10030002/83393626-a8278c80-a429-11ea-856d-c7610405216d.png)

the table got narrower.
aspose-words version 19.1  and 19.10

word转换成pdf之后，个别表格宽度变窄，在windows下用office转换成pdf,是正常的。
而且很奇怪的一点是，我随便将word增删一些文字之后，再次转换就正常了。

[2020-06-01 09:13] Echopei commented on #64
word转换成pdf之后，个别表格宽度变窄，在windows下用office转换成pdf,是正常的

[2020-06-01 09:58] AlexNosk commented on #64
@Echopei Could you please attach sample document that will allow us to reproduce the problem on our side? We will check the issue and provide you more information.

[2020-06-01 10:00] Echopei commented on #64
[30.focus.docx](https://github.com/aspose-words/Aspose.Words-for-Java/files/4710651/30.focus.docx)

[2020-06-02 06:44] AlexNosk commented on #64
@Echopei Thank you for reporting this problem to us. I managed to reproduce the problem on my side and logged the issue in our defect tracking system as **WORDSNET-20542**. We will let you know once the problem is resolved.

[2020-06-16 07:32] alexlis opened #65 "doc convert to html math pic error"

[2020-06-16 08:39] AlexNosk commented on #65
@alexlis Could you please attach your input document for testing? We will check the issue and provide you more information.

[2020-06-16 08:44] alexlis commented on #65
ok,thanks!
you can download from [http://47.105.64.144/html/123.docx](url)

[2020-06-16 10:39] alexlis commented on #65
I try all the latest java version，they all have such problems。

[2020-06-17 08:25] AlexNosk commented on #65
@alexlis Thank you for additional information. I investigated the problem and managed to reproduce it. The reason of the problem is lack of fonts on your side. The formula is a metafile, that is rendered to PNG upon conversion to HTML. Symbol font is used in the metafile and if this font is not present Aspose.Words tries to find an alternative font, if there is no suitable alternative you see tofu

[2020-07-06 11:29] Deathef opened #66 "UpdateFields BUG"
I call the method getMailMerge().execute() after updateFields, then it comes a bug like this
![demo1](https://user-images.githubusercontent.com/32616338/86588690-c64f5200-bfbe-11ea-895d-55244b18a67d.png)
![demo2](https://user-images.githubusercontent.com/32616338/86588704-cb140600-bfbe-11ea-94fc-c13bb7bababf.png)
[code]

[2020-07-08 09:14] AlexNosk commented on #66
@Deathef Could you please attach the source template, the output document and the desired output? We will check the issue and provide you more information.

[2020-07-09 01:21] Deathef commented on #66
@AlexNosk  annex is  the source template, the output document and the desired output
[demo.zip](https://github.com/aspose-words/Aspose.Words-for-Java/files/4893984/demo.zip)

[2020-07-13 10:32] AlexNosk commented on #66
@Deathef Thank you for additional information. I managed to reproduce the problem on my side and logged the issue as **WORDSNET-20778** in our bug traching system We will let you know once the issue is resolved.

[2020-07-21 11:53] AlexNosk commented on #66
@Deathef MS Word applies restartNumberingAfterBreak attribute to each list in document during mail merge. Aspose.Words also follows this behavior. So this is considered as Not a bug.
You may use the following code snippet to retain original list numbering:
[code]

Please let me know if the proposed workaround works for you and the issue can be closed.

[2020-07-22 06:28] Deathef commented on #66
@AlexNosk According to the code you provided, we successfully solved the problem;

[2020-07-22 06:59] #66 closed, assigned to AlexNosk

[2020-07-22 08:01] #65 closed, assigned to AlexNosk

[2020-07-22 08:03] AlexNosk commented on #63
No feedback. Closed the issue.

[2020-07-22 08:03] #63 closed, assigned to nobody

[2020-07-22 08:12] AlexNosk commented on #48
@yaphot The feature you have asked about is already available in the latest version of Aspose.Words. Please see [Font.EmphasisMark](https://apireference.aspose.com/words/net/aspose.words/font/properties/emphasismark) property.
You can download the latest version of Aspose.Words for Java from [here](https://downloads.aspose.com/words/java).

[2020-07-22 08:12] #48 closed, assigned to nobody

[2020-07-30 19:31] jcabrerazuniga commented on #54
How to turn off the TLD scan ?

[2020-07-31 05:57] ZCHWorld commented on #54
edit **apache-tomcat-9.0.22\conf\catalina.properties** file:
`tomcat.util.scan.StandardJarScanFilter.jarsToSkip=*`

[2020-08-10 10:24] alexlis commented on #65
Thank you very much.

[2020-09-07 11:47] dhp888666 opened #67 "Word to PDF paragraph style is messy"
Word to PDF paragraph style will be messy, will not be able to put automatic line feed, resulting in the entire document format chaos

[2020-09-07 13:02] AlexNosk commented on #67
@dhp888666 Could you please attach your input and output documents here for testing? We will check the issue and provide you more information.

[2020-09-09 06:23] dhp888666 commented on #67
How to set paragraph style Chinese board style, according to Chinese custom control first character and allow punctuation overflow boundary

[2020-09-09 07:39] dhp888666 commented on #67
[testPdf.pdf](https://github.com/aspose-words/Aspose.Words-for-Java/files/5193359/testPdf.pdf)
[testWord.docx](https://github.com/aspose-words/Aspose.Words-for-Java/files/5193361/testWord.docx)

[2020-09-09 11:46] AlexNosk commented on #67
@dhp888666 Thank you for additional information. The difference you mentioned might be caused by difference in fonts. Please make sure the fonts used in the document are installed on the system where conversion is performed. If the fonts are available, but the problem still persists, please attach the fonts here for further investigation.
You can implement IWarningCallback to check whether fonts i

[2020-11-12 07:57] sad-wang opened #68 "DOC contains some emphasis mark to image or html"
I wanna convert DOC contains some emphasis mark to image or html by `Document.save(FileName, saveFormat.HTML)` , but emphasis mark is disappear in html.

How can I fix it?  Thx

[2020-11-12 09:13] AlexNosk commented on #68
@sad-wang Could you please attached your input and output document here for testing? We will check the issue and provide you more information.

[2020-11-13 02:41] sad-wang commented on #68
[test.zip](https://github.com/aspose-words/Aspose.Words-for-Java/files/5534414/test.zip)
here you are.

[2020-11-13 08:06] AlexNosk commented on #68
@sad-wang Thank you for additional information. I managed t reproduce the problem it is logged in our defect tracking system as **WORDSNET-21395** (for images) and **WORDSNET-15649** (for HTML). We will let you know once this feature is supported.
Also, what are your target browsers for HTML? I ask because some browsers might not support the 'text-emphasis' CSS property.

[2020-11-13 08:21] sad-wang commented on #68
fine. Please support this issue as soon as possible.
Chrome I use.
Thx.

[2020-12-14 11:56] AlexNosk commented on #67
@dhp888666 Do you still have the above mentioned issue? Or can the request be considered as resolved?

[2020-12-28 02:10] Allen09 commented on #57
麻烦问哈。图片丢失的问题是如何解决的呢。

[2020-12-28 05:08] awaishafeez commented on #57
@Allen09 ,

您是否尝试过最新的（20.12）版本的Aspose.Words for Java？ 如果问题仍然存在，那么建议您将查询发布在Aspose.Words论坛中，因为技术支持的主要途径仅是通过我们的论坛。
https://forum.aspose.com/c/words/8

也请ZIP并上传您输入的Word文档和Aspose.Words生成的输出文件，其中显示了不良行为，用于测试。 另请创建一个比较屏幕截图，突出显示Aspose.Words生成的输出中的问题区域，并将其附加到您将在Aspose.Words论坛中创建的线程中。 然后，我们将对此进行调查，并为您提供更多信息。

[2021-01-27 08:55] liu-zifan commented on #53
你好，请问怎么定义为skip

[2021-01-27 12:34] AlexNosk commented on #53
@liu-zifan  您可以使用IResourceLoadingCallback来在加载文档时跳过加载外部资源。
https://apireference.aspose.com/words/java/com.aspose.words/resourceloadingaction#SKIP

[2021-02-26 07:21] JiangHao-1 opened #69 "Use domain templates to export pictures from tables"
Excuse me, how to generate pictures in a loop in the table, such as a new user list, each user’s avatar needs to be exported in the table

[2021-02-26 07:54] #69 closed, assigned to nobody

[2021-02-26 07:55] JiangHao-1 commented on #69
The method has been found on git

[2021-04-01 13:23] tanhuang2016 opened #70 "Does the bar graph Supporting data sheet"
Just like the sample file
[bartable.docx](https://github.com/aspose-words/Aspose.Words-for-Java/files/6243789/bartable.docx)
![image](https://user-images.githubusercontent.com/38677722/113300238-4e853c80-9330-11eb-8041-550aec3b8879.png)

[2021-04-02 08:21] AlexNosk commented on #70
@tanhuang2016 Unfortunately there is no way to show/hide Data Table in the chart using the current version of Aspose.Words. The feature is logged as **WORDSNET-15898** in our defects tracking system. We will let you know once this feature is available.

[2021-04-04 11:21] tanhuang2016 commented on #70
fine,thank you

thank you

[2021-04-28 09:32] DoubleFooker commented on #68
i have a same problem for convert docx/doc 2 pdf

[2021-05-03 08:25] awaishafeez commented on #68
@DoubleFooker
Have you also tried the [latest (21.4) version of Aspose.Words for .NET](https://downloads.aspose.com/words/net) on your end? In case the problem still remains, then we suggest you to please post a new query in [Aspose.Words forum](https://forum.aspose.com/c/words/8), ZIP and upload your input Word document and Aspose.Words generated PDF file  showing the undesired behavior in your f

[2021-05-30 07:10] tanhuang2016 opened #72 "builder.insertChart() How can set different colors"
The sample code
[code]
like this
![image](https://user-images.githubusercontent.com/38677722/120095475-c321ff00-c158-11eb-98db-774d0aac7bc1.png)

how to set different colors
![image](https://user-images.githubusercontent.com/38677722/120095529-185e1080-c159-11eb-8af9-502aaf6355e8.png)

[2021-05-31 08:27] AlexNosk commented on #72
@tanhuang2016 The requested feature will be available in the next version of Aspose.Words through the [ChartDataPoint ](https://apireference.aspose.com/words/java/com.aspose.words/ChartDataPoint)class. The corresponding issue number is **WORDSNET-12275**. We will let you know once the next version is available (in a week or two).

[2021-06-14 11:28] AlexNosk commented on #72
The issues you have found earlier (filed as WORDSNET-12275) have been fixed in this Aspose.Words 21.6. You can download it here:
https://downloads.aspose.com/words/java
Also see the release notes for code example.
https://docs.aspose.com/words/java/aspose-words-for-java-21-6-release-notes/#implemented-ability-to-set-fill-and-stroke-formatting-for-chart-series-data-points-and-markers

[2021-06-14 11:28] #72 closed, assigned to AlexNosk

[2021-06-14 11:54] #67 closed, assigned to AlexNosk

[2021-07-01 02:51] kebenart opened #73 "word coverts to pdf table direct error"
When the document is set to landscape, the wrong text direction will appear when going to PDF
![image](https://user-images.githubusercontent.com/33311918/124057477-205fe780-da5a-11eb-8076-f2e779846762.png)

error
![image](https://user-images.githubusercontent.com/33311918/124057536-379ed500-da5a-11eb-9dd2-7738e00a2dbe.png)

[2021-07-05 07:10] AlexNosk commented on #73
@kebenart Could please attach your input and output documents here for testing and provide the code that allows to reproduce the problem. We will check the issue and provide you more information.

[2021-08-13 02:10] Ccjiawei opened #74 "Word to PDF function, some rare words are missing(Chinese)"
Some codes are as follows:

`
/**
     *  Generate PDF specified font source directory
     * @param fontFloder
     */
    private static void settingFont(Document doc, String fontFloder) throws Exception {
        FontSettings.getDefaultInstance().setFontsFolder(fontFloder, true);
        FontSettings fontSettings = FontSettings.getDefaultInstance();
        fontSettings.getSubstitutionSettings(

[2021-08-13 06:45] AlexNosk commented on #74
@Ccjiawei Could you please attach the problematic document here for testing and provide the fonts used in the document. We will check the issue and provide you more information.

[2021-08-13 07:24] Ccjiawei commented on #74
[a.docx](https://github.com/aspose-words/Aspose.Words-for-Java/files/6980592/a.docx)
These are rare word documents

[fz.zip](https://github.com/aspose-words/Aspose.Words-for-Java/files/6980595/fz.zip)
And these are rare word documents

Please help test whether there is a problem in converting word to PDF

Below is my own program test conversion PDF document：
[java2pdf_fz.pdf](https://github.com/as

[2021-08-16 09:49] AlexNosk commented on #74
@Ccjiawei Thank you for additional information. I have tested the scenario on my side using the latest 21.8 version  of Aspose.Words and did not manage to reproduce the problem. Please see the attached document generated using the latest version of Aspose.Words.
[out.pdf](https://github.com/aspose-words/Aspose.Words-for-Java/files/6991334/out.pdf)

I used the following simple code to convert the d

[2021-08-17 11:06] Pantianmiao opened #75 "Table HorizontalMerge is zero"
Word inner Table HorizontalMerge always is zero. Like this:
![image](https://user-images.githubusercontent.com/26376043/129715479-85713021-a638-4bb5-ae3e-fd402460c699.png)

[2021-08-18 02:09] Ccjiawei commented on #74
The version I use here is 19.5. The problem is the same as the latest version on your side. The problem text in the document is Chinese.

Then there is a problem in the document you give (there will be a few words missing in the document). I'll give you a screenshot in the compressed package and circle it.

Finally, I'll send you the Song typeface. Both font conversion are the same problem, so I w

[2021-08-18 09:59] AlexNosk commented on #74
@Ccjiawei excuse me for misunderstanding. I have managed to reproduce the problem. To resolve the problem you should use text shaping factory. Please see the following code and the attached document produced on my side:
[code]
[out.pdf](https://github.com/aspose-words/Aspose.Words-for-Java/files/7006295/out.pdf)
Also see the following link for more information:
https://docs.aspose.com/words/java/e

[2021-08-19 08:07] Ccjiawei commented on #74
Thank you very much for your answer. After using your method, I have successfully solved this problem that has plagued me for a long time. Thank you again for your support.

[2021-08-20 02:41] Ccjiawei commented on #74
Last question, does the font setting support stream parameter (IO) when converting document to PDF

[2021-08-25 07:16] AlexNosk commented on #74
@Ccjiawei Sure, you can use `StreamFontSource` to achieve this. Please follow the link for more information
https://apireference.aspose.com/words/java/com.aspose.words/streamfontsource

[2021-08-25 07:21] AlexNosk commented on #75
@Pantianmiao In MS Word documents rows are independent, that means each row in the table can have any number of cells of any width. Most likely in your case horizontally merged cells are emulated by adjusting width of individual cells.
Could you please attach your document here for testing, I will take a look and provide you more information.

[2021-08-25 07:22] AlexNosk commented on #73
There is no feedback. Close the issue. If the issue still persist, please feel free to open another one.

[2021-08-25 07:22] #73 closed, assigned to nobody

[2021-08-28 07:16] Ccjiawei commented on #74
@AlexNosk  Hello, according to the information you provided above, I have updated the version of aspose.words for Java to 20.12, and can use the following code to operate textshaperfactory:
`doc.getLayoutOptions().setTextShaperFactory(HarfBuzzTextShaperFactory.getInstance());`
However, after the upgrade, when the windows environment is converted normally and placed in the Linux environment, the fo

[2021-08-30 08:21] AlexNosk commented on #74
@Ccjiawei To make it work on Linux you should install harfbuzz package. Here you can find the package for CentOS https://centos.pkgs.org/8/centos-appstream-x86_64/harfbuzz-1.7.5-3.el8.x86_64.rpm.html

[2021-08-30 10:41] KonstantinSidorenko commented on #74
Hi @Ccjiawei, Aspose.Words for Java supports external Shaping.Harfbuzz library only on Windows (you can see **dll** in the path strings).
But Java supports Harfbuzz natively starting from Java 9. Please upgrade to the latest Java version and try your test sample again.

[2021-11-05 04:53] AlexNosk commented on #75
No additional feedback. Close.

[2021-11-05 04:53] #75 closed, assigned to AlexNosk

[2021-11-05 04:54] #74 closed, assigned to AlexNosk

[2021-12-20 01:58] NigoUP opened #76 "how to handle special symbol wingdings when convert to pdf"
word:
![image](https://user-images.githubusercontent.com/16929651/146700826-5189cdae-af17-4b51-aa68-cb53a10a9f3a.png)

pdf:
![image](https://user-images.githubusercontent.com/16929651/146700868-2c38c284-48ed-4e46-85c7-2bc189834929.png)

when my word converts to pdf, the symbol wingdings is wrong, how can I do with this word document.

[2021-12-20 01:59] zhouxq commented on #76
假期自动回复。

[2021-12-20 03:59] AlexNosk commented on #76
@NigoUP It looks like fonts used in your source document are not available in the environment where document is converted to PDF. Please note to properly layout and render document [Aspose.Words requires fonts](https://docs.aspose.com/words/java/using-truetype-fonts/) used in your document.
If after installing the fonts the problem still persist, please attach your document here for testing. We wi

[2022-02-11 09:23] qingzao commented on #44
你好，word转pdf的时候，修订记录都没有了，有什么办法可以让修订记录显示吗？都是些插入了。。删除了。。的记录

[2022-02-11 09:25] qingzao opened #79 "word转pdf的时候，可以让修订记录显示吗？"
word转pdf，修订记录都没有了，有什么办法可以让修订记录显示吗？都是些插入了。。删除了。。的记录

[2022-02-11 11:25] AlexNosk commented on #79
@qingzao 您可以使用 [RevisionOptions ](https://apireference.aspose.com/words/java/com.aspose.words/RevisionOptions)类来控制在布局过程中如何处理文档修订。 如果您需要更多帮助，请告诉我。

[2022-02-11 11:26] AlexNosk commented on #44
@qingzao 该问题已在您发布的另一个帖子中得到解答 https://github.com/aspose-words/Aspose.Words-for-Java/issues/79

[2022-04-24 12:36] doesitsworks opened #81 "为什么docx文档转pdf时，pdf中tif图片显示异常"
JDK8中使用的20.12-jdk17版本在word文档转pdf时，word中包含有tif格式的图片，转换后的pdf中的图片多了黑白底纹
![微信图片_20220424203308](https://user-images.githubusercontent.com/104305110/164976751-c267c4f3-4930-48a5-a323-bca741bcfefe.png)
![微信图片_20220424203313](https://user-images.githubusercontent.com/104305110/164976778-6ec64368-5deb-42cb-9f0e-3324cff2b1a7.png)

[2022-04-24 12:37] zhouxq commented on #81
假期自动回复。

[2022-04-24 17:09] AlexNosk commented on #81
@doesitsworks 您能否附上您的输入和输出文件以进行测试？ 我们将检查问题并为您提供更多信息。

[2022-04-25 07:42] doesitsworks commented on #81
[test.zip](https://github.com/aspose-words/Aspose.Words-for-Java/files/8552534/test.zip)
测试的word文档和tif图片，请帮解决！

[2022-04-25 08:37] AlexNosk commented on #81
@doesitsworks 感谢您提供更多信息。 为了更正，该问题已记录为 **WORDSJAVA-2722**。 我们会及时通知您，并在问题解决后通知您。

[2022-05-16 06:59] JiangHao-1 opened #82 "fixed header on each page of the table"
fixed header on each page of the table

[2022-05-16 07:28] JiangHao-1 commented on #82
I have a requirement to implement a table through coding. My data may appear on multiple pages. I want the data on each page to automatically have a header. Note that it is not configured through a template

[2022-05-18 05:31] AlexNosk commented on #82
@JiangHao-1 You can achieve this by specifying [RowFormat.HeadingFormat](https://apireference.aspose.com/words/java/com.aspose.words/rowformat#HeadingFormat) property.
Please see our documentation for more information:
<https://docs.aspose.com/words/java/working-with-columns-and-rows/#specify-rows-to-repeat-on-subsequent-pages-as-header-rows>

[2022-06-17 06:57] xiaoxuhuicode opened #83 "docx文件中表格每行高会增加，怎么处理呢？aspose word 15"

[2022-06-17 08:31] xiaoxuhuicode commented on #83
aspose-word-jdk16-15.8.0

[2022-06-17 12:04] AlexNosk commented on #83
@xiaoxuhuicode 您能否详细说明您的问题？ 这个问题不是很清楚。 请附上您的输入、输出和预期输出文档以及允许重现问题的代码。 我们将检查该问题并为您提供更多信息。

[2022-06-17 13:14] xiaoxuhuicode commented on #83
aspose-word-jdk16-15.8.0版本doc文件加水印后表格正常显示。docx文件加水印后表格中每行行高会变高，怎么处理

[2022-06-18 05:22] AlexNosk commented on #83
@xiaoxuhuicode 您能否提供您的输入和输出文档以及允许我们重现问题的代码？ 我们将检查问题并为您提供更多信息。

[2022-06-20 03:06] xiaoxuhuicode commented on #83
你好，我已经重新提了issues 👍 https://github.com/aspose-words/Aspose.Words-for-.NET/issues/320

[2022-06-20 05:03] AlexNosk commented on #83
The issue is moved to .NET category. Close.

[2022-06-20 05:03] #83 closed, assigned to nobody

[2022-06-22 01:20] ioooooooq commented on #81
java中docx转pdf 为什么红头文件不见了
![image](https://user-images.githubusercontent.com/61259097/174922992-c731143d-0203-47ee-b04b-cb5b5bc5b71e.png)
![image](https://user-images.githubusercontent.com/61259097/174923075-21860204-b970-4fed-91a3-5495652fb014.png)

[2022-06-22 02:47] ioooooooq opened #84 "为什么java docx转pdf 红头文件标题直接没了"
java中docx转pdf 为什么红头文件不见了，要么就是方块乱码，红头文件是艺术字
![image](https://user-images.githubusercontent.com/61259097/174923185-4d76d290-b7e9-4eef-8d9a-e835d9461d71.png)

![image](https://user-images.githubusercontent.com/61259097/174923075-21860204-b970-4fed-91a3-5495652fb014.png)

[2022-06-22 04:35] AlexNosk commented on #84
@ioooooooq 您能否在此处附上您的输入和输出文档以进行测试？ 不幸的是，没有真实的文件是不可能分析问题的。 您可以从文档中删除敏感数据。

[2022-06-22 04:48] ioooooooq commented on #84
[123.docx](https://github.com/aspose-words/Aspose.Words-for-Java/files/8954454/123.docx)
[123.pdf](https://github.com/aspose-words/Aspose.Words-for-Java/files/8954458/123.pdf)

[2022-06-22 04:51] ioooooooq commented on #84
@AlexNosk

[2022-06-22 04:52] ioooooooq commented on #84
@AlexNosk
源文件 docx
[123.docx](https://github.com/aspose-words/Aspose.Words-for-Java/files/8954479/123.docx)
转换后的pdf
[123.pdf](https://github.com/aspose-words/Aspose.Words-for-Java/files/8954481/123.pdf)

[2022-06-22 14:53] AlexNosk commented on #84
@ioooooooq 如我所见，您使用的是旧 15.8 版本的 Aspose.Words for Java。 我无法使用最新的 22.6 版本的 Aspose.Words for Java 重现我这边的问题。
<https://repository.aspose.com/words/>

[2022-06-27 04:39] Wang0310 opened #85 "Insert html to Word，html forrmat is"
I want to convert HTML to doc format, but I find that the style doesn't work, including setting the line spacing of paragraphs
code example：
![image](https://user-images.githubusercontent.com/5894924/175860936-f8b031e9-40e5-43b2-99e9-fd6e4a00343d.png)

but in fact：
![image](https://user-images.githubusercontent.com/5894924/175860978-9bb1ad3b-88ec-4c1b-8b95-2baddcece0f4.png)

[2022-06-27 06:36] Wang0310 commented on #85
Sorry, the character format I wrote is wrong because it is not centered, but a lot of things in the HTML content do not take effect。
![image](https://user-images.githubusercontent.com/5894924/175874848-703f0f7e-b8d5-4a3e-987d-400acf034235.png)
![image](https://user-images.githubusercontent.com/5894924/175874891-f2afd7c2-75f9-485d-82d9-8514b8725816.png)
How should I write this style without right a

[2022-06-27 09:49] WEIQ311 commented on #85
是不是多了层\"

| |
魏强
|
|
***@***.***
|

---- Replied Message ----
| From | ***@***.***> |
| Date | 06/27/2022 12:39 |
| To | ***@***.***> |
| Cc | ***@***.***> |
| Subject | [aspose-words/Aspose.Words-for-Java] Insert html to Word，html forrmat is (Issue #85) |

I want to convert HTML to doc format, but I find that the style doesn't work, including setting the line spacing of paragraphs
code example：

[2022-06-27 11:07] WEIQ311 commented on #85
[code]

[2022-06-27 11:15] Wang0310 commented on #85
嗯嗯，这个问题时多了一层。 已经找到原因了，现在第二个问题感觉不知道怎么设置，有些标签样式不生效了

[2022-06-27 11:40] Wang0310 commented on #85
@WEIQ311
老哥好，你这个我试了下，跟我现在是一样的。我可能没有说清楚我的问题，我是有个业务场景会生成一段html页面，设置了一些样式，如附件里面的内容，我读取内容后插入生成word时，遇到的两个问题
1、配置的行距是不起作用，都是一个默认的行距，设置大小无效
2、有一些标签设置的样式，比如有个时间是靠右对齐，但生成word后不生效，想知道是怎么提出，替换标签还是有什么配置项是可以解决这个问题。
![image](https://user-images.githubusercontent.com/5894924/175932168-6da119ce-cac4-42ed-933a-eac9d3fdd9df.png)

[https://res.hwazhan.com/bg/upload/files/2022/6/1656329823006.txt?attname=html5.txt](

[2022-06-27 12:49] AlexNosk commented on #85
@Wang0310 @WEIQ311 The problem is that HTML document and MS Word document has quite different object model. And it is impossible to guaranty 100% fidelity after converting one to another. You can learn more about [feature supported upon loading HTML](https://docs.aspose.com/words/java/create-or-load-a-document/) from Aspose.Words documentation.

In your case, you can achieve what you need using ta

[2022-06-30 01:44] Wang0310 commented on #85
@AlexNosk ok, but I have another question. why can't the program set line spacing in HTML content take effect.

[2022-06-30 06:39] AlexNosk commented on #85
@Wang0310 `line-height` style attribute corresponds Line Spacing in MS Word document. Aspose.Words take this attribute in account:
[code]
![image](https://user-images.githubusercontent.com/31235892/176609409-d908d237-235d-4a48-a9b5-57f9289bd98f.png)

[2022-06-30 08:02] Wang0310 commented on #85
@AlexNosk  OK, I see. thank you very much.

[2022-06-30 08:02] #85 closed, assigned to nobody

[2022-07-24 19:39] SnowflyW opened #86 "Aspose.word function is missing"
Aspose.word function is missing, and the picture set cannot output multiple pictures in the same table cell

[2022-07-24 19:42] SnowflyW commented on #86
Suppose that there are two data sets, and each data corresponds to multiple pictures, the picture corresponding to the data cannot be achieved

[2022-07-25 05:09] AlexNosk commented on #86
@SnowflyW Unfortunately, your request is not quite clear. Could you please elaborate your requirements in more details and attach your input document, sample data and the expected output? We will investigate and provide you more information.

[2022-07-26 16:40] SnowflyW opened #87 "@SnowflyW Unfortunately, your request is not quite clear. Could you please elaborate your requirements in more details and attach your input document, sample data and the expected output? We will investigate and provide you more information."
@SnowflyW Unfortunately, your request is not quite clear. Could you please elaborate your requirements in more details and attach your input document, sample data and the expected output? We will investigate and provide you more information.

_Originally posted by @AlexNosk in https://github.com/aspose-words/Aspose.Words-for-Java/issues/86#issuecomment-1193584797_

[2022-07-26 16:41] #87 closed, assigned to nobody

[2022-07-26 16:47] SnowflyW commented on #86
@AlexNosk
Hello, alexnosk
My problem is that in the merge area, the data record is a list, and each data also contains multiple pictures. As a result, the pictures of each row of data are the same and repeated

![image](https://user-images.githubusercontent.com/30776452/181062908-ecfbe40c-0ab3-4ce3-adf2-44dc935090c7.png)
![image](https://user-images.githubusercontent.com/30776452/181063075-2ac92b1

[2022-07-26 16:54] SnowflyW commented on #86
@AlexNosk
Supplement:

The data source of non picture fields in the merge area is bound through datatable, and the picture circulates the following code in the following way:
[code]
Then through the code, the field name of the dynamic control field (imglist1....imglist (n)), but the picture from 1... N lines is still repeated.

The first data record is a picture
The second data record is two pictu

[2022-07-27 08:00] AlexNosk commented on #86
@SnowflyW I think in your case you can use [IFieldMergingCallback](https://reference.aspose.com/words/java/com.aspose.words/IFieldMergingCallback) to achieve that you need. For example here is a simple template example:
![image](https://user-images.githubusercontent.com/31235892/181191004-65e4ef38-98aa-413f-aedf-f83468a1d0b6.png)
And here is a code:
[code]
[code]
The result of executing is the fol

[2022-07-27 10:28] SnowflyW commented on #86
@AlexNosk Thanks, brother
My English is not good. I use translation software
I also tried the image:mergefield method later, and it does not support outputting multiple pictures. It will only overwrite the previous pictures on the original field
In the callback event, loop builder.insert to try

[2022-07-27 11:32] SnowflyW commented on #86
@AlexNosk
I refer to the official documents and cases, so I always use the imagefieldmerging method in the ifieldmergegcallback interface, and replace it with fieldmerging method to achieve the effect I want.
Thank you again, brother

The fieldmerging method corresponds to the merge field in the merge area of the word template.
The imagefieldmerging method corresponds to the < < image:xxxx > > fie

[2022-07-27 14:34] AlexNosk commented on #86
@SnowflyW It looks like you managed to achieve what you need using `IFieldMergingCallback`. So I am closing the issue. Please feel free to open another one in case of any issues or post your question in our support forum <https://forum.aspose.com/c/words/8>

[2022-07-27 14:34] #86 closed, assigned to nobody

[2022-07-28 08:15] Wang0310 opened #88 "Invalid paragraph spacing setting"
![image](https://user-images.githubusercontent.com/5894924/181456165-7e0814f4-b34e-4f94-a81f-058203aa6521.png)
![image](https://user-images.githubusercontent.com/5894924/181456474-957cb781-8cf1-4726-b460-b9c47c15b9c0.png)

[2022-07-28 14:51] AlexNosk commented on #88
@Wang0310 You are using `DocumentBuilder.insertHtml` method. By default content inserted from HTML ignores formatting specified in `DocumentBuilder`. You can use another overload of `DocumentBuilder.insertHtml` method to set a flag to use `DocumentBuilder` formatting:
[code]
<https://reference.aspose.com/words/java/com.aspose.words/documentbuilder#insertHtml(java.lang.String,boolean)>

[2022-07-28 16:55] SnowflyW commented on #86
@AlexNosk  OK 3Q

[2022-07-29 08:47] bavarac93 opened #89 "Typo Contents_managment"
Typo: Contents_managment
Correction: Contents_management

[2022-08-01 01:09] #88 closed, assigned to nobody

[2022-08-01 01:11] Wang0310 commented on #88
@AlexNosk thank you. I've confirmed it. It's OK.

[2022-08-25 12:24] liuyi520123 opened #90 "Missing text when convert word to pdf"
I install specified fonts in windows and all text looks normal.
when i use aspose.word to convert, it missing most words, i upgrade aspose.word to 22.8, it also missing.

[code]

what can I do to make the pdf normal, thank you very much.

docx
![image](https://user-images.githubusercontent.com/24844047/186662685-6aa25fbf-da70-43b7-9099-fed14039db6e.png)

pdf
![image](https://user-images.githubuser

[2022-08-26 12:25] AlexNosk commented on #90
@liuyi520123 Unfortunately, I do not have baidu account. Could you please share the documents ad fonts on google drive? Also, please note Aspose.Words forum is the main place for support. So let's continue discussion in the forum:
<https://forum.aspose.com/t/missing-text-when-convert-word-to-pdf/251042>

[2022-09-27 06:40] #90 closed, assigned to nobody

[2022-09-27 06:47] #76 closed, assigned to nobody

[2022-09-27 06:47] #79 closed, assigned to AlexNosk

[2022-09-27 06:48] #82 closed, assigned to nobody

[2022-09-27 06:49] #84 closed, assigned to nobody

[2022-10-03 12:29] falleretic commented on #89
Thanks, fixed.

[2022-10-03 12:29] #89 closed, assigned to nobody

[2022-10-24 05:50] ThunderMaking opened #92 "word生成pdf时，段落中间若有——或短横线-，符号后会莫名加一个换行符"
![image](https://user-images.githubusercontent.com/34033704/197456503-4941dc4e-1e42-4212-b6e2-b7756f5150ad.png)
下图为pdf显示
![image](https://user-images.githubusercontent.com/34033704/197456568-7b365cbd-8d0a-41db-b3ef-02b710ca20ae.png)
**### 使用最新aspose-word 22.9版本**

[2022-10-24 06:33] AlexNosk commented on #92
@ThunderMaking 您能否在此处附上您的输入和输出文档以进行测试？ 我们将检查问题并为您提供更多信息。

[2022-10-24 09:27] ThunderMaking commented on #92
[test.docx](https://github.com/aspose-words/Aspose.Words-for-Java/files/9850501/test.docx)

[2022-10-24 09:39] ThunderMaking commented on #92
[Test_out.pdf](https://github.com/aspose-words/Aspose.Words-for-Java/files/9850569/Test_out.pdf)

[2022-10-24 11:18] AlexNosk commented on #92
@ThunderMaking 感谢您提供更多信息。 我无法使用最新的 22.10 版本的 Aspose.Words for Java 重现我这边的问题。 这是使用以下代码在我这边生成的 hte 输出 PDF 文档：
[code]
[out.pdf](https://github.com/aspose-words/Aspose.Words-for-Java/files/9851201/out.pdf)

[2022-11-07 10:52] qulele123 opened #93 "fonts overlap using aspose"
Use aspose.Word to convert PDF and Word use a variety of fonts. It is normal to export pdf directly using Word, but fonts overlap using aspose
![abnormal](https://user-images.githubusercontent.com/117641360/200292577-35383040-cc5c-4867-8b18-ec1b1f0f04b5.png)
use version of aspose-word-20.12  for java

[2022-11-07 15:23] AlexNosk commented on #93
@qulele123 Could you please attach your document here for testing? we will check the issue and provide you more information.
The problem might occur because it is required to [enable open type features](https://docs.aspose.com/words/java/enable-opentype-features/).

[2022-11-12 07:05] chengshuanghub opened #94 "word添加水印后页眉变高"
如果页眉只有一行的时候，添加完水印后页眉会变成2行，整个文档的内容都会往下移。
版本：15.8.0

代码：
[code]
添加水印前：
![image](https://user-images.githubusercontent.com/16441142/201461995-44e28077-1c8a-42a5-8af6-1e9f06bc48e2.png)

t添加水印后：
![image](https://user-images.githubusercontent.com/16441142/201462010-2d8594ea-0833-4766-bb38-39bddd99af4f.png)

[2022-11-12 08:35] AlexNosk commented on #94
@chengshuanghub 您能否在此处附上您的输入和输出文件以供我们参考。 我们将检查问题并为您提供更多信息。
顺便说一句，最新版本的 Aspose.Words 提供了一种在文档中添加水印的内置方法：
<https://docs.aspose.com/words/java/working-with-watermark/>

[2022-11-14 00:22] chengshuanghub commented on #94
麻烦您帮忙看看。

输入文件：
[页眉测试.docx](https://github.com/aspose-words/Aspose.Words-for-Java/files/9998603/default.docx)
输出文件：
[test4.docx](https://github.com/aspose-words/Aspose.Words-for-Java/files/9998600/test4.docx)

[2022-11-14 06:06] AlexNosk commented on #94
@chengshuanghub 出现此问题的原因是您插入带有段落的水印。 请看下面的截图。 为避免该问题，您应该在现有段落中插入水印形状。
![image](https://user-images.githubusercontent.com/31235892/201587103-79d06e5b-54cd-4e47-9052-d92b7c0fc140.png)
或者您可以简单地使用内置方法插入水印：
[code]
[out.docx](https://github.com/aspose-words/Aspose.Words-for-Java/files/10000040/out.docx)

[2022-11-14 06:48] chengshuanghub commented on #94
您好，这个带有段落的水印不是我代码里加的，是加完水印后页眉就变成了2行，我添加的水印是不带段落的。内置方法插入好像设置不了位置，我们需要插入多个水印。

[2022-11-14 08:30] AlexNosk commented on #94
@chengshuanghub  在您的代码中，您为水印形状创建一个段落并将其附加到每个部分的每个标题中。 请参阅以下代码片段：
[code]
正如我提到的，如果标题已经包含一个段落，您应该在这个现有段落中插入一个水印形状，而不是创建一个单独的段落。

[2022-11-14 09:30] ggxinyan opened #95 "word转pdf后行距增加"
我在windows上word转pdf正常。mac上word转pdf行距增加很多，导致文档页数增多
[code]
使用版本22.5

[2022-11-14 10:31] chengshuanghub commented on #94
请问您有获取现有段落并插入水印的例子吗？

官网也是我这样写的
![image](https://user-images.githubusercontent.com/16441142/201638241-c1621e5e-994f-4210-b339-b6e2b27e6e4c.png)

[2022-11-14 12:59] AlexNosk commented on #95
@xiaohuocai-hz 出现此问题的原因可能是原始文档中使用的字体在执行文档转换的环境中不可用。 要构建文档布局 Aspose.Words 需要字体。 如果 Aspose.Words 找不到文档中使用的字体，则将 [字体替换为](https://docs.aspose.com/words/java/manipulate-and-substitute-truetype-fonts/)。这可能导致字体不匹配和文档布局差异，从而导致返回错误的页码。 您可以实现 [IWarningCallback](https://reference.aspose.com/words/java/com.aspose.words/iwarningcallback/) 以在执行字体替换时获取通知。

[2022-11-14 13:02] AlexNosk commented on #94
@chengshuanghub 您可以使用如下代码:

[code]

[2022-11-15 05:53] chengshuanghub commented on #94
@AlexNosk  您好，我替换成上面的代码后，程序报错。您能帮忙看看吗？
![image](https://user-images.githubusercontent.com/16441142/201837256-676e6357-c3a9-41f0-bf02-2b42cc564ca0.png)

报错信息：
java.lang.IllegalArgumentException: Cannot insert a node of this type at this location.
	at com.aspose.words.CompositeNode.zzWwL(Unknown Source)
	at com.aspose.words.CompositeNode.insertAfter(Unknown Source)
	at com.aspose.words.CompositeNode

[2022-11-15 06:25] AlexNosk commented on #94
@chengshuanghub  在您的代码中，您试图将一个段落插入另一个段落。 您应该插入水印形状，而不是水印段落。你应该插入这个节点
[code]

[2022-11-15 07:15] chengshuanghub commented on #94
@AlexNosk 插入水印形状后好了，谢谢您的帮助

[2022-11-15 08:03] #94 closed, assigned to nobody

[2022-11-16 07:47] ggxinyan commented on #95
根据您指导的方向，我又去看了其[字体替换](https://docs.aspose.com/words/java/manipulate-and-substitute-truetype-fonts/)行为。通过在mac和应用服务器（linux）安装windows的Fonts，能够解决行距增加问题。

[2022-11-16 14:50] #95 closed, assigned to nobody